
<div class="container">
  <form [formGroup]="employeeInsert" (ngSubmit)="insertEmployee()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" formControlName="name" class="form-control" placeholder="Name">
      <p class="text-danger" *ngIf="employeeInsert.controls['name'].invalid && employeeInsert.controls['name'].touched">
        Name is required
      </p>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" name="age" formControlName="age" class="form-control" placeholder="Age">
      <p class="text-danger" *ngIf="employeeInsert.controls['age'].invalid && employeeInsert.controls['age'].touched">
        Age is required
      </p>
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="text" name="salary" formControlName="salary" class="form-control" placeholder="Salary">
      <p class="text-danger" *ngIf="employeeInsert.controls['salary'].invalid && employeeInsert.controls['salary'].touched">
        Salary is required
      </p>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Insert</button>
    </div>
  </form>
  <div *ngIf="invalid" class="alert alert-danger" role="alert">Formulaire Invalide</div>

    <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employees of employee">
            <!-- <th scope="row">{{employees.id}}</th> -->
            <td>{{employees.name}}</td>
            <td>{{employees.age}}</td>
            <td>{{employees.salary}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteEmployee(employees.id)">Delete</button>
              <button class="btn btn-primary margin" (click)="showPopup()">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<app-edit [show]="show" (close)="showPopup()" ></app-edit>
