    <div class="overlay" *ngIf="show">
        <div class="popup-container">
            <div class="popup-header">
              <h5>EDIT EMPLOYEE</h5>
              <button type="button" class="btn-close-icon" (click)="closePopup()">&times;</button>
            </div>
            <form [formGroup]="updateForm">
              <div class="mb-3">
                <label for="grade" class="form-label">NAME</label>
                <input type="text" formControlName="name" class="form-control" id="grade">
              </div>
          
              <div class="mb-3">
                  <label for="grade" class="form-label">AGE</label>
                  <input type="number" formControlName="age" class="form-control" id="grade">
                </div>
          
              <div class="mb-3">
                <label for="displayOrder" class="form-label">SALARY</label>
                <input type="number" formControlName="salary" class="form-control" id="displayOrder">
              </div>
              <div class="popup-footer">
                <button type="button" class="btn btn-close" (click)="closePopup()">Close</button>
                <button type="button" class="btn btn-update text-white" (click)="updatePopup()">Update</button>
              </div>
            </form>
            
          </div>
        
    
    </div>
    