<div class="form-wrapper">
    <form class="form" [formGroup]="loginInput" (ngSubmit)="onLogin()">
        <span class="title">Login</span>
        
        <label for="email" class="label">Email</label>
        <input type="email" id="email" name="email" formControlName="email" class="input">
        <p class="error" *ngIf="loginInput.controls['email'].invalid && loginInput.controls['email'].touched">email is required</p>

        <label for="password" class="label">Password</label>
        <input type="password" id="password" name="password" formControlName="password" class="input">
        <p class="error" *ngIf="loginInput.controls['password'].invalid && loginInput.controls['password'].touched">password is required</p>

        <button type="submit" class="submit">Login</button>
      </form>
    
</div>
